* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-y: auto;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  box-shadow: 0 0 13px 2px rgb(34 60 80 / 20%) inset;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 8px;
  }
}

.layout {
  width: 70vw;
  min-height: 100%;
  margin: 0 auto;
  background: inherit;

  @media screen and (width <= 768px) {
    width: 90vw;
    margin: 0;
  }
}

.layoutContent {
  background: inherit;
  border: none;
}
