.sendBlock {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.send {
  position: relative;

  display: flex;
  align-self: flex-end;

  min-width: 4rem;
  min-height: 3rem;

  color: white;

  background: #0b93f6;

  &::before {
    content: '';

    position: absolute;
    top: -47%;
    right: calc(0% + 27px);
    transform: translateX(100%);

    border: 20px solid transparent;
    border-bottom: 20px solid #0b93f6;
  }
}

.userTitleSend {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.chatSendAvatar {
  z-index: 1;

  align-self: flex-end;

  width: 50px;
  height: 50px;
  margin-bottom: 12px;
  margin-left: 5px;

  border-radius: 50%;
}

.p {
  position: relative;

  margin-bottom: 12px;
  padding: 10px 20px;

  line-height: 24px;
  word-wrap: break-word;

  border-radius: 25px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 25px;
  }
}
