.users {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.select {
  height: 100%;
}

.user {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-self: center;
  justify-content: space-between;

  width: 100%;
  margin: 10px;
}

.pagination {
  align-self: center;
  margin-top: auto;
}
