.descriptionBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.userPhoto {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 100%;
}

.userName {
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}
