.formControl {
}

.formControl.error input,
.formControl.error textarea {
  border: solid 1px red;
}

.formControl.error span {
  color: #f196b1;
}

.formSummaryError {
  border: 1px solid;
  color: #a11c1c;
  padding: 5px;
}

.contact {
  border: 1px solid;
  color: #a11c1c;
  padding: 5px;
}
