.menu {
  color: #ced6e3;
  background: #1d2b43;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  // background: #e9ebee;

  background: #d7e2f1;
  box-shadow: 0 0 13px 2px rgb(34 60 80 / 20%) inset;
}
