* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  box-shadow: 0 0 13px 2px rgb(34 60 80 / 20%) inset;
}

.layout {
  width: 70vw;
  min-height: 100vh;
  margin: 0 auto;
  background: inherit;
}
