.header {
  grid-area: h;
  background-color: #161d2b;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.loginBlock {
  align-self: center;
  margin-right: 10px;
}

.loginBlock a {
  text-decoration: none;
  color: black;
}

.headerButton svg {
  fill: #ced6e3;
}
