.chatMessages {
  overflow-y: auto;
  width: 100%;
  height: 400px;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 8px;
  }
}
