.header {
  display: flex;
  grid-area: h;
  justify-content: space-between;

  color: white;

  background: linear-gradient(45deg, #a8edea, #fed6e3);
  background-blend-mode: screen;
  border-bottom-right-radius: 10px;
}

.loginBlock {
  align-self: center;
  margin-right: 10px;
}

.loginBlock a {
  color: black;
  text-decoration: none;
}

.headerButton svg {
  fill: black;
}

.tableButton {
  transform: rotate(90deg);
}

.logOut {
  cursor: pointer;

  position: relative;
  z-index: 10;

  padding: 10px 22px;

  color: #fff;

  background-color: #7b68ee;
  border: none;
  border-radius: 6px;

  transition: all 0.2s ease;
}

.logOut:active {
  transform: scale(0.96);
}
