.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: center;

  @media screen and (width <= 768px) {
    margin-bottom: 1rem;
  }

  @media screen and (width <= 576px) {
    font-size: 0.9rem;
  }
}
